/*section-2 메인 시작*/

.section-2 {
    width:100vw;
    height: 100vh;
    position: relative;
}

.section-2 > img {
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    z-index: -99;
    width:100%;
}

.section-2 .con {
    width:1400px;
}

.section-2 .con > img {
    position: absolute;
    top:32%;
}

.display {
    display: none;
}

.section-2 .menu-bar {
    width:150px;
    height: 370px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top:60%;
    left: 18%;
}

.section-2 .menu-bar-2 {
    width:150px;
    height: 328px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top:61%;
    left: 40%;
}
/*section-2 메인 끝*/

.fixed {
    position: fixed;
    top: 0;
  }


/*section-3 New 시작*/
.section-3 {
    width:100%;
    height: 867px;
    position: relative;
}

.section-3 .con {
    width:1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-3 .con img:first-of-type {
    margin-top: 96.7px;
}
.section-3 .con img:nth-of-type(2) {
    margin-top: 151.6px;
    position: absolute;
    top:17%;
    right:0;
    z-index: -99;
}

.section-3 .con img:nth-of-type(3) {
    width:540px;
    height: 682px;
    margin-right: -750px;
    margin-top: 69.6px;
    cursor: pointer;
}

.section-3 .con img:nth-of-type(4) {
    margin-left: -325px;
    margin-top:-200px;
    transition: all .4s;
    padding: 10px 0;
}

.section-3 .con img:nth-of-type(4):hover {
    cursor: pointer;
    transform: translateY(-10px);
}
.section-3 .con img:nth-of-type(5) {
    width:540px;
    height: 682px;
    margin-right: -750px;
    margin-top: 69.6px;
    position: absolute;
    top:13%;
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
    visibility: hidden;
}
.opacity-0 {
    opacity: 0;
    visibility: visible;
}

/*section-3 New 끝*/


/*section-4 New top-dress 시작*/

.section-4 {
    width:100%;
    height: 2781px;
}

.section-4 .con {
    width:1400px;
    height: 100%;
    position: relative;
    
}

.section-4 .outer img:first-of-type {
    width:320px;
    position: absolute;
    left: 13%;
}


.section-4 .outer img:nth-of-type(2) {
    position: absolute;
    left: 35%;
    top:7%;
    transition: all .4s;
    padding: 10px 0;
}
.section-4 .outer img:nth-of-type(3) {
    position: absolute;
    left: 40.5%;
    top:14%;
}

.section-4 .outer img:last-of-type {
    width:320px;
    position: absolute;
    left: 12%;
    opacity: 0;
}

.section-4 .outer img:nth-of-type(2):hover {
    cursor: pointer;
    transform: translateY(-10px);
}



.section-4 .top img:nth-of-type(1) {
    position: absolute;
    top:30%;
    left: 25%;
    width:320px;
    height: 850px;
}
.section-4 .top img:nth-of-type(2) {
    position: absolute;
    top:40%;
    left: 20%;
    transition: all .4s;
}

.section-4 .top img:nth-of-type(3) {
    position: absolute;
    top:36%;
    left: 52%;
    width:320px;
    height: 850px;
}

.section-4 .top img:nth-of-type(4) {
    position: absolute;
    top:58%;
    left: 64%;
    transition: all .4s;
    padding: 10px 0;
}

.section-4 .top img:nth-of-type(2):hover {
    cursor: pointer;
    transform: translateX(-10px);
}
.section-4 .top img:nth-of-type(4):hover {
    cursor: pointer;
    transform: translateX(10px);
}



.section-4 .dress img:not(:nth-of-type(4)) {
    width:320px;
    height: 700px;
    position: absolute;
    top:70%;
}

.section-4 .dress img:nth-of-type(2) {
    left: 25%;
}
.section-4 .dress img:nth-of-type(3) {
    left: 75%;
}
.section-4 .dress img:nth-of-type(4) {
    left: 52%;
    position: absolute;
    top:82%;
    transition: all .4s;
    padding: 10px 0;
}
.section-4 .dress img:nth-of-type(4):hover {
    cursor: pointer;
    transform: translateY(10px);
}

.section-4 .dress img:nth-of-type(5) {
    left: 0%;
    opacity: 0;
}
.section-4 .dress img:nth-of-type(7) {
    left: 25%;
    opacity: 0;
}
.section-4 .dress img:nth-of-type(6) {
    left: 75%;
    opacity: 0;
}
/*section-4 New top-dress 끝*/



/*section-5 시작*/
.section-5 {
    width:100%;
    height: 1450px;
}

.section-5 .con {
    width:1400px;
    height: 100%;
    position: relative;
}
.section-5 .con img {
    position: absolute;
}



.section-5 .con > img:first-of-type {
    left: -280px;
    top:0;
    width:580px;
}

.section-5 .con > .bag > img:first-of-type {
    top:13%;
    right:50%;
}
.section-5 .con > .bag > img:nth-of-type(2) {
    top:0%;
    left:53%;
    width:340px;
}

.section-5 .con > .bag > img:nth-of-type(3) {
    top:0%;
    right:0%;
    width:340px;
}
.section-5 .con > .shoes > img:first-of-type {
    top:36%;
    right:50%;
}
.section-5 .con > .shoes > img:nth-of-type(2) {
    top:27%;
    left:57%;
    width:290px;
}

.section-5 .con > .shoes > img:nth-of-type(3) {
    top:27%;
    right:1%;
    width:300px;
    z-index: -1;
}
.section-5 .con > .acc > img:first-of-type {
    top:57%;
    right:50%;
}
.section-5 .con > .acc > img:nth-of-type(2) {
    top:51%;
    left:55%;
    width:340px;
}

.section-5 .con > .acc > img:nth-of-type(3) {
    top:51%;
    right:0%;
    width:340px;
    z-index: -1;
}


.section-5 .con > .goods > img:first-of-type {
    top:84%;
    right:50%;
}
.section-5 .con > .goods > img:nth-of-type(2) {
    top:74%;
    left:55%;
    width:340px;
    z-index: -1;
}

.section-5 .con > .goods > img:nth-of-type(3) {
    top:74%;
    right:0%;
    width:340px;
    z-index: -2;
}

.section-5 .con > div > img:first-of-type {
    transition: all .4s;
    padding: 10px 0px;
}

.section-5 .con > div > img:first-of-type:hover {
    transform: translateX(10px);
    cursor: pointer;
}
.section-5 .con > div {
    margin-left: 200px;
    
}

.section-5 .con > img {
    position: absolute;
    margin-left: 130px;
}

/*section-5 끝*/



/*section-6 New 시작*/

.section-6 {
    margin-top: 150px;
    width:100%;
    height: 900px;

}

.section-6 .con {
    width:1400px;
    height: 100%;
    border:10px solid red;
}

.section-6 .denim {
    width:100%;
    height: 300px;
    position: relative;
}

.section-6 .denim img:first-of-type {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.section-6 .denim img:last-of-type {
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.section-6 .qul {
    width:1920px;
    height: 300px;
    position: relative;
    width:100%;
}

.section-6 .qul img:first-of-type {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.section-6 .qul img:last-of-type {
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.section-6 .ch {
    width:1920px;
    height: 300px;
    width:100%;
    position: relative;
}

.section-6 .ch img:first-of-type {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.section-6 .ch img:last-of-type {
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.section-6 > div {
    cursor: pointer;
} 


/*section-6 New 끝*/


/*section-7 시작*/
.section-7 {
    width:100%;
    height: 763px;
}

.section-7 .con {
    width:1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-7 .newapc {
    font-size: 18px;
    white-space: nowrap;
    margin-top: 44.3px;
}
.section-7 input {
    width:384px;
    height: 49px;
    border:.7px solid black;
    outline:0;
    font-size: 18px;
    padding:8px;
  }
  

.section-7 .name {
    width:540px;
    display: flex;
    align-items: center;
    margin-top: 75px;
    justify-content: space-between;
    
}
.section-7 .name span {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}



.section-7 .mail {
    width:540px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    margin-top: 20px;
}
.section-7 .mail span {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    justify-content: space-between;
}

.section-7 .gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:540px;
    margin-top: 20px;
}

.section-7 .gender span {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    justify-content: space-between;
}

.section-7 .box {
    display: flex;

    width:400px;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
}

.checks {position: relative;}
.checks input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checks input[type="radio"] + label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  

}
.checks input[type="radio"] + label:before {
  content: '';

  position: absolute;
  left: 0;
  top: 0px;
  width: 21px;
  height: 21px;
  text-align: center;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  
}
.checks input[type="radio"]:checked + label:before {
  background: white;
  border-color: black;
}
.checks input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5.2px;
  width: 13px;
  height: 13px;
  background: black;
  border-radius: 100%;
  
}
.checks.small:first-of-type {
    margin-right: 111px;
}

.checks {
    display: flex;
    align-items: center;
}

.section-7 .line {
    width:540px;
    height: .5px;
    background-color: black;
    margin-top: 34.5px;
}




.checkss {position: relative;}

.checkss input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checkss input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkss input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 20px;  /* 체크박스의 너비를 지정 */
  height: 20px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: white;
  border: 1px solid black;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checkss input[type="checkbox"] + label:active:before,
.checkss input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkss input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: white;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}




.checkss.etrans input[type="checkbox"] + label {
    padding-left: 30px;
  }
  .checkss.etrans input[type="checkbox"] + label:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: .6;
    box-shadow: none;
    border-color: black;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  .checkss.etrans input[type="checkbox"]:checked + label:before {
    position: absolute;
    content: "";
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity:1; 
    background: transparent;
    border-color:transparent black black transparent;
    border-top-color:transparent;
    border-left-color:transparent;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
  .no-csstransforms .checkss.etrans input[type="checkbox"]:checked + label:before {
    /*content:"\2713";*/
    content: "\2714";
    top: 0;
    left: 0;
    width: 20px;
    line-height: 20px;
    color: black;
    text-align: center;
    border: 1px solid black;
  }

  .section-7 .check-box {
      display: flex;
      justify-content: space-between;
      width:540px;
      margin-top: 39.5px;
  }


  .section-7 .submit {
      width:141px;
      height: 51px;
      border:1px solid black;
      margin-top: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .section-7 .submit .white {
      display: none;
  }
  .section-7 .submit:hover {
      cursor: pointer;
      background-color: black;
  }
  .section-7 .submit:hover .black {
      display: none;
  }
  .section-7 .submit:hover .white {
    display: block;
}
/*section-7 끝*/



/*section-8 시작*/

.section-8 {
    width:100%;
    display: flex;
    justify-content: center;
} 
.section-8 > img {
    
}
/*section-8 끝*/