.trm_menu-box__menu-bar ul li:first-child a::after {
    width:90%;
  }
html {
    overflow-x: hidden;
    padding: 0;
    margin: ;
}

#branding {
    width:1920px;
    height: 5317.8998px;
    margin: 0 auto;
    position: relative;
}
#branding img {
    position: absolute;
    width:100%;
    left: 0;
    top:0;
}

#branding .branding-page__cont1 {
    top:19.7%;
}

#branding .branding-page__cont2 {
    top:28.7%;
}

#branding .branding-page__cont3 {
    top:42.3%;
}
#branding .branding-page__cont4 {
    top:60.8%;
}
#branding .branding-page__cont5 {
    top:74.5%;
}
#branding .branding-page__big-tt {
    top:10%;
}
#branding .branding-page__big-tt {
    width:470px;
    left:50%;
    transform: translateX(-50%);
    top:8.5%;
}
#branding .branding-page__moon1 {
    width:42.8234px;
    top:7%;
    left:50%;
    transform: translateX(-50%);
}
#branding .branding-page__moon2 {
    width:154.2831px;
    top:7%;
    left:50%;
    transform: translateX(-50%);
}
#branding .branding-page__moon3 {
    width:273.2675px;
    top:7%;
    left:50%;
    transform: translateX(-50%);
}
