/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 끝 */
body,
html {
  cursor: url(trm.cur), url(trm.cur), auto
}

a {
  cursor: url(trm.cur), url(trm.cur), auto
}
a:hover {
  cursor: url(trm.cur), url(trm.cur), auto
}

:root {
  --site-width: 1440px;
}

.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.bb {
  border: 1px solid red;
}

.flex {
  display: flex;
}

/*
  * {
    cursor: none;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
    mix-blend-mode: difference;
}

.cursor-shadow {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    transition: top .1s, left .1s;
    mix-blend-mode: difference;
    z-index: 98;
}

*/


a#MOVE_TOP_BTN {
  position: fixed;
  right: 5%;
  bottom: 70px;
  z-index: 999;
  display: none;
  font-weight: 900;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: white;
}
a#MOVE_TOP_BTN:hover {
  border: 1px solid white;
  background-color: black;
  color:white;
}



/*tto_menu-box*/
.trm_menu-box {
  width:100%;
  height: 150px;
  z-index: 999;
  position: fixed;
  top:0;
  left: 0;
}

.trm_menu-box .con {
  width:1440px;
  height: 100%;
  justify-content: space-between;
}
.trm_menu-box__logo-box {
  align-items: center;
}
.trm_menu-box__logo-box img {
  width:80px;
}

.trm_menu-box__menu-bar {
  width:1200px; 
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.trm_menu-box__menu-bar ul li {
  margin-left: 100px;
}
.trm_menu-box__menu-bar ul li a {
  display: block;
  padding: 10px 10px;
  position: relative;
}

.trm_menu-box__menu-bar ul li a::after {
  position: absolute;
  content: "";
  width:0%;
  height: 2px;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  
  transition: all .4s;
}
.trm_menu-box__menu-bar ul li:hover a::after {
  width:90%;
}
.trm_menu-box__menu-bar ul li:hover a {
  cursor: pointer;
}
/*footer*/

.footer {
  height: 300px;
  margin-bottom: 100px;
}

.footer .con {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer .con .footer__post {
  font-size: 75px;
  font-family: noto-sans-display, sans-serif;
  font-weight: black;
  margin-bottom: 40px;
}

.footer__post_img {
  position: relative;
  width: 300px;

}

.footer__post_img>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  transition: all .4s;
}

.footer__post_img>div:nth-of-type(2) {
  display: none;
}

.footer__post_img:hover>div:nth-of-type(2) {
  display: flex;
}

.footer__post_img:hover>div:nth-of-type(1) {
  display: none;
}

.footer__post_img img {
  width: 50px;
  margin-right: 10px;
}



.btn6 {
  border: 1px solid transparent;
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  padding: 5px 10px;
  margin: 10px 4px;
  color: #7CA2E8;
  width: 150px;

  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-family: noto-sans-display, sans-serif;
}


.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #7CA2E8;
  box-shadow: inset 0px 0px 0px #7CA2E8;
  display: block;
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width: 100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #7CA2E8;
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::after {
  width: 100%;
}

.btn6:hover {
  border-left: 1px solid #7CA2E8;
  border-right: 1px solid #7CA2E8;
}



.footer__ring-ring {
  transform-origin: 50% 0%;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(45deg);
  }

  20% {
    transform: rotate(-45deg);
  }

  30% {
    transform: rotate(30deg);
  }

  40% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

