/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */
:root {
  --site-width: 1600px;
}

.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}


.flex {
  display: flex;
}


* {
  cursor: none;
}

.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
  mix-blend-mode: difference;
}

.cursor-shadow {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  transition: top .2s, left .2s;
  mix-blend-mode: difference;
  z-index: 98;
}


/*mian-page*/

.main-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-page .con {
  height: 800px;
  display: flex;
  justify-content: space-between;
}

.main-page .con .mian-page__box {
  width: 658px;
}

.main-page .con .mian-page__line-box {
  width: 284px;
  justify-content: center;
}

.main-page .mian-page__line {
  width: 1px;
  height: 100%;
  background-color: black;
}

.main-page .mian-page__txt-box {
  align-items: center;
}

.main-page .mian-page__menu-box {
  flex-direction: column;
  justify-content: space-around;
}

.main-page .mian-page__menu-box .main-page__stamp {
  justify-content: flex-end;
}

.main-page .mian-page__menu-box .main-page__stamp>img {
  width: 248px;
}

.main-page .main-page__menu-bar_ul {
  width:657px;
  height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page .main-page__menu-bar_ul > li {
  width:100%;
  height: 70px;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.main-page .main-page__menu-bar_ul > li > a {
  align-items: flex-end;
  height: 100%;
}