
  .menu-bar ul li:nth-of-type(4) a {
      font-weight: 700;
  }

  .menu-bar ul li:nth-of-type(4) a::after {
      width:100%;
  }

  body {
      overflow-x:hidden;
  }

  #fullpage section {
      overflow: hidden;
  }

  .backcircle {
    width:110%;
    height: 3000px;
    z-index: -1;
    background-color: #000;
    border-radius: 1500px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
  }
  .bg-black {
      background-color: black;
  }

  .backcircle2 {
      background-color: white;
      z-index: 997;
  }
  .backcircle3 {
    background-color: black;
    z-index: 997;
}
.menu-bar ul li a.white::after {
    color: white;
}
.white {
    color:white;
}

.notitle img {
    width:100mm;
    position: absolute;
    left: 50%;
    top:15%;
    transform: translateX(-50%);
}

.title img {
    width:40mm;
    position: absolute;
    left: 50%;
    top:73%;
    z-index: 999;
    transform: translateX(-50%);
    margin-top: 10px;
}
.device {
    z-index: 999;
}
.device img {
    width:250mm;
    position: absolute;
    left: 50%;
    top:13%;
    transform: translateX(-50%);
    z-index: 999;
}

.btn {
    display: flex;
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:83%;
}


.btn a {
    margin: 0 40px;
    width:30.79mm;
    height: 10.743mm;
    border:1px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s;
}


.btn img {
    width:24mm;
    z-index: 999;
}

.notitle, .device, .title, .btn {
    z-index: 999;
}

