/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

/* 노말라이즈 끝 */
:root {
  --site-width: 1320px;
}

.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.bb {
  border:1px solid red;
}

.flex {
  display: flex;
}

/*메뉴*/
#menu-bar {
  height: 110px;
  width:100%;
  position: fixed;
  top:0;
  z-index: 99;
  background-color: white;
}
#menu-bar .con {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
#menu-bar .menu-bar__menu-box {
  align-items: center;
  height: 110px;
}

#menu-bar .menu-bar__menu-box > ul > li > a {
  display: block;
  padding:0 20px;
  margin: 0 20px;
  font-size: 18px;
}
#menu-bar .menu-bar__menu-box > ul > li {
  position: relative;
  height: 110px;
  display: flex;
  align-items: center;
}
#menu-bar .menu-bar__menu-box > ul ul {
  position: absolute;
  top:100%;
  left: 50%;
  transform: translatex(-50%);
  display: none;
}
#menu-bar .menu-bar__menu-box > ul ul a {
  font-size: 15px;
  white-space: nowrap;
  display: block;
  text-align: center;
  margin-top: 20px;
}
/*검색창*/
#menu-bar .search input {
  border:hidden;
  background-color: #F4F4F4;
  width:200px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  padding: 0 10px;
}