/*슬라이드*/
#swiper-container {
    border-bottom: 5px solid #FF79C3;
}
#swiper-container .swiper {
    height: 890px;
    margin: 0 auto;
    width:1920px;
    z-index: 98;
    
}
#swiper-container .swiper .swiper-slide {
    width:1320px;
    display: flex;
    justify-content: center;
}
#swiper-container .swiper-pagination.swiper-pagination-bullets {
    bottom:10%;
}

#swiper-container .swiper {
    position: relative;
}
:root {
    --swiper-theme-color: #8098AF;
}

#swiper-container .swiper-button-prev {
    left: 10%;
}

#swiper-container .swiper-button-next {
    right:10%;
}

#swiper-container .swiper-slide {
    align-items: center;
}

#swiper-container .swiper-slide .slide_img-box img {
    width:550px;
}

#swiper-container .slide_txt-box {
    flex-direction: column;
    margin-right: 250px;
}


#swiper-container .slide_txt-box > span:first-child {
    font-size: 35px;
}

#swiper-container .slide_txt-box > span:nth-child(2) {
    font-size: 20px;
    margin-top: 20px;
}

#swiper-container .slide_txt-box > a {
    font-size: 15px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    transition: all .4s;
}
#swiper-container .slide_txt-box > a:hover {
    transform: translateY(-5px);
}

#swiper-container .slide_txt-box > a > span {
    position: relative;
}

#swiper-container .slide_txt-box > a > span::after {
    position: absolute;
    content: "";
    top:50%;
    left: 140%;
    transform: translateY(-50%);
    background-color: #FF79C3;
    width:26px;
    height: 26px;
    border-radius: 50%;
    z-index: -1;
}

#swiper-container .slide_txt-box > a > img {
    width:25px;
    margin-left: 20px;
}

#swiper-container .swiper-pagination-bullet-active {
    background-color: #FF79C3;
}

/*운영 및 정보*/
#manage {
    align-items: center;
    height: 180px;
}
#manage .con {
    justify-content: space-around;
}
#manage .con > div {
    display: flex;
    align-items: center;
}
#manage .manage__date {
    align-items: center;
}
#manage .manage__date .date__title {
    width:100px;
    height: 100px;
    background-color: #FF79C3;
    justify-content: center;
    align-items: center;
}

#manage .manage__date .date__title span {
    font-weight: 700;
    font-size: 25px;
    color:white;
}

#manage .manage__date .date__day {
    flex-direction: column;
    margin-left: 20px;
}

#manage .manage__date .date__day > span {
    font-size: 23px;
}
#manage .manage__date .date__day > span:first-of-type {
    font-weight: 700;
    font-size: 24px;
}

#manage .manage__date .date__day > span:last-of-type {
    font-weight: 400;
}

#manage .con > .manage__time {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: -100px;
}

#manage .con > .manage__time div {
    font-size: 20px;
}

#manage .con > .manage__time div:last-of-type {
    font-size: 18px;
    color:#FF6262;
}

#manage .con .manage__line {
    height: 100px;
    width:2px;
    background-color: #C8C8C8;
}
#manage .con .manage__info > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#manage .con .manage__info > span > span {
    width:97px;
    height:97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8098AF;
    border-radius: 50%;
}
#manage .con .manage__info > span:last-of-type {
    margin-left: 80px;
}

#manage .con .manage__info > span > div {
    margin-top: 10px;
    font-size: 16px;
}

/*오월드 주요 행사*/

#main_event {
    height: 1000px;
    background-color: #FAFAFA;
}

#main_event .con {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    flex-direction: column;
    align-items: center;
}
.title > span:first-of-type {
    font-size: 30px;
    font-weight:500;
    margin-bottom: 10px;
    position: relative;
}
.title > span:first-of-type::after, .title > span:first-of-type::before {
    content: "";
    position: absolute;
    background-color: #FF79C3;
    width:10px;
    height: 10px;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
}

.title > span:first-of-type::after {
    left: -10%;
}
.title > span:first-of-type::before {
    right: -10%;
}

.title > span:last-of-type {
    color:#3F3F3F;
}

#main_event .event__contents {
    margin-top: 115px;
    flex-direction: column;
    width:1320px;
}
#main_event .contents {
    justify-content: space-between;
}
#main_event .contents__box {
    width:300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FFF388;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}
#main_event .contents__box-2 {
    background-color: #F0E9F4;
}

#main_event .contents__box-3 {
    background-color: #FF8D8D;
}

#main_event .contents__box .box__bottom {
    position: absolute;
    width:300px;
    height: 300px;
    top:65%;
    background-color: white;
}

#main_event .contents__box .box__img-box > img {
 position: absolute;   
}

#main_event .contents__box .box__img-box > img:first-of-type {
    top:21.5%;
    left: 50%;
    transform: translateX(-50%);
}

#main_event .contents__box .box__img-box > img:last-of-type {
    top:20%;
    left: 20%;
    transition: all .4s;
}

#main_event .contents__box-2 .box__img-box > img:last-of-type {
    top:18%;
    left: 21%;
    transition: all .4s;
}

#main_event .contents__box-3 .box__img-box > img:last-of-type {
    top:30%;
    left: 15%;
    transition: all .4s;
}


#main_event .contents__box:hover .box__img-box img:last-of-type {
    animation:ani .8s infinite alternate; 
    
}
@keyframes ani{
0%{transform:translate(0,0);}
100%{transform:translate(0,-10px);}
} 

#main_event .contents__box-2:hover .box__img-box img:last-of-type {
    animation:rotate .8s infinite alternate; 
    
}
@keyframes rotate{
0%{transform:rotate(-3deg);}
100%{transform:rotate(3deg);}
}  

#main_event .contents__box-3:hover .box__img-box img:last-of-type {
    animation:rotate2 .8s infinite alternate; 
    
}
@keyframes rotate2{
0%{transform:rotateY(0deg);}
100%{transform:rotateY(180deg);}
}  



#main_event .contents__box .box__txt-box {
    z-index: 99;
}
#main_event .contents__box .box__txt-box a {
    position: absolute;   
    font-size: 22px;
    font-weight: 500;
    top:75%;
    left: 50%;
    transform: translateX(-50%);
   }
