.menu-bar ul li:nth-of-type(2) a {
    font-weight: 700;
}

.menu-bar ul li:nth-of-type(2) a::after {
    width: 100%;
}


.section-1 {
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
}

.circled {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 70%;
    top: 50%;
    border: 1px solid black;
    border-radius: 50%;
    transform: translateY(-50%);

}

.swiper-container {

    width: 100%;
    height: 90vh;
    transform: translateY(10%);
}

.swiper-slide {


    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide .contain {
    
    width: 1000px;
    height: 80%;
    position: relative;
}

.swiper-slide .orbit {
    position: absolute;

}

.swiper-slide .orbit img {
    width: 38mm;
}

.swiper-slide .slogan img {
    position: absolute;
    width: 116mm;
    top: 25%;
}


.swiper-slide .content img {
    position: absolute;
    width: 150mm;
    top: 50%;
}

.con .section-1 .swiper-container .swiper-pagination {
    position: absolute;
    top: 85%;
    left: 20.7%;

    width: 70px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.con .section-1 .swiper-container .swiper-pagination .swiper-pagination-bullet {

    background-color: black;
    transition: width .4s, height .4s;
    opacity: 1;
}


.con .section-1 .swiper-container .swiper-pagination>.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: white;

}

@keyframes ani {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -5px);
    }
}


.swiper-slide .title img {
    width: 117.294mm;
    position: absolute;
    top: 20%;
}

.swiper-slide .pfcontent img {
    width: 120.645mm;
    position: absolute;
    top: 30%;
}

.swiper-slide .ability {
    z-index: 999;
}




.circle-contain {
    display: flex;
    z-index: -1;
    position: relative;
    width: 100%;
    height: 38%;

    top: 10%;
}

.circle-wrap {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    top: 12%;

}

.circle-wrap:nth-of-type(1) {}

.circle-wrap:nth-of-type(2) {
    left: 15%;
}

.circle-wrap:nth-of-type(3) {
    left: 30%;
}



.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 100px, 100px, 50px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 50px, 100px, 0px);
    background-color: #000;
}

.swiper-slide:hover .circle-wrap .circle .mask.full,
.swiper-slide:hover .circle-wrap .circle .fill {
    animation: fill ease-in-out 1s;
    transform: rotate(160deg);
}



.swiper-slide:hover .circle-wrap .circle-2 .mask.full,
.swiper-slide:hover .circle-wrap .circle-2 .fill {
    animation: fill2 ease-in-out 1s;
    transform: rotate(150deg);
}


.swiper-slide:hover .circle-wrap .circle-3 .mask.full,
.swiper-slide:hover .circle-wrap .circle-3 .fill {
    animation: fill3 ease-in-out 1s;
    transform: rotate(90deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(160deg);
    }
}

@keyframes fill2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(150deg);
    }
}

@keyframes fill3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.circle-wrap .inside-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    line-height: 80px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle-contain .inside-circle img {
    width: 10mm;
    position: absolute;
    top: 28%
}

.circle-contain .inside-circle .ai {
    left: 25%;
    top: 29%
}
.circle-contain .inside-circle .c90 {
    width:10mm;
    left: 28%;
    top: 150%;
}

.circle-contain .inside-circle .ps {
    left: 28%;
    top: 30%
}

.circle-contain .inside-circle .xd {
    width: 11mm;
    left: 23%;
    top: 29%
}

.circle-contain .inside-circle .fm {
    width: 8mm;
    left: 32%;
    top: 25%
}

.circle-contain .inside-circle .vc {
    left: 25%;
}

.circle-contain .inside-circle .pr {
    width: 10mm;
    left: 30%;
    top: 30%
}
.swiper-slide .ability img {
    width:35mm;
    position: absolute;
    top:14%;
    left: 50%;
}

.swiper-slide .pro-bar div {
    width:200px;
    background-color: #f0f0f0;
    height: 8px;
    position: absolute;
    left: 67%;
}

.swiper-slide .pro-bar div:nth-of-type(1) {
    top:15%;
}
.swiper-slide .pro-bar div:nth-of-type(2) {
    top:33.5%;
}
.swiper-slide .pro-bar div:nth-of-type(3) {
    top:51.5%;
}
.swiper-slide .pro-bar div:nth-of-type(4) {
    top:67.5%;
}
.swiper-slide .pro-bar div:nth-of-type(5) {
    top:86.5%;
}

.swiper-slide .pro-bar2 div {
    background-color: #000;
    width:0;
    transition: width .4s;
}
.swiper-slide:hover .pro-bar2 div:nth-of-type(1) {
    width:195px;
    
}
.swiper-slide:hover .pro-bar2 div:nth-of-type(2) {
    width:190px;
}
.swiper-slide:hover .pro-bar2 div:nth-of-type(3) {
    width:195px;
}
.swiper-slide:hover .pro-bar2 div:nth-of-type(4) {
    width:190px;
}
.swiper-slide:hover .pro-bar2 div:nth-of-type(5) {
    width:185px;
}


.abnumber img {
    width:8mm;
    position: absolute;
    left: 90%;
}

.abnumber img:nth-of-type(1) {
    top:15%;
}

.abnumber img:nth-of-type(2) {
    top:33.5%;
}
.abnumber img:nth-of-type(3) {
    top:51.5%;
}
.abnumber img:nth-of-type(4) {
    top:67.5%;
}
.abnumber img:nth-of-type(5) {
    top:86.5%;
}