
.pg-left-box__menu > ul > li:not(:nth-child(2)) > a > img:first-child {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all .4s;
}
.pg-left-box__menu > ul > li:not(:nth-child(2)):hover > a > img:first-child {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
}
.pg-left-box__menu > ul > li:not(:nth-child(2)) > a > img {
    transform: translateX(-20px);
    transition: all .4s;
}

.pg-left-box__menu > ul > li:not(:nth-child(2)):hover > a > img {

    transform: translateX(0px); 
}

.pf__2 {
    width:27.4561px;
}
.pf__2-txt {
    width:179.8047px;
}