
.pg-left-box__menu > ul > li:not(:nth-child(3)) > a > img:first-child {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all .4s;
}
.pg-left-box__menu > ul > li:not(:nth-child(3)):hover > a > img:first-child {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
}
.pg-left-box__menu > ul > li:not(:nth-child(3)) > a > img {
    transform: translateX(-20px);
    transition: all .4s;
}

.pg-left-box__menu > ul > li:not(:nth-child(3)):hover > a > img {

    transform: translateX(0px); 
}
