
.section-2 {
    height: 800px;
    width:100%;
}

.section-2 .swiper-container {
    width: 100%;
    height: 100%;
    z-index: -99;
}

.section-2 .swiper-slide {
    background-position: center;
    background-size: cover;
}

.section-2 {
    position: relative;
}

.section-2>img {
    position: absolute;
    top: 45%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.section-2> .intro {
    position: absolute;
    top:65%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    text-align: center;
    color:white;
    font-weight: 400;
    font-size: 21px;
}
/*section-3 시작*/

.section-3 {
    margin-top: 100px;
    height: 100px;
    width:100%;
}

.section-3 .scroll {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 15px;
}

.section-3 .scroll::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 43px;
    background-color: black;
    top: -50px;
    animation: arrowAnimation 1.4s infinite ease-out;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }
}

/*section-3 끝*/

/*section-4 시작*/

.section-4 {
    height: 882px;
    width:100%;

}

.section-4 .con {
    height: 100%;
    width: 1280px;
}

.top {
    justify-content: space-between;
    align-items: center;
}

.top .title {
    align-items: center;
}

.top .title>img {
    width: 41.92px;
    height: 41.52px;
}

.top .title>span:first-of-type {
    font-size: 30px;
    font-weight: 700;
    margin-left: 27.1px;
}

.top .more-btn {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.top .more-btn::after,
.top .more-btn::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.top .more-btn::before {
    transform: rotate(-90deg);
    left: 25%;
}

.section-4 .swiper-container {
    width: 100%;
    height: 640px;
    margin-top: 67px;
}

.section-4 .swiper-slide {
    height: 515px;
}

.section-4 .swiper-slide img {
    width: 330px;
    height: 273px;
}

.section-4 .swiper-slide .intro {
    justify-content: space-between;
    margin-top: 13px;
}

.section-4 .swiper-slide .intro .intro-1>span:first-of-type {
    color: #FFBE00;
    margin-right: 13px;
}



.section-4 .swiper-slide .title {
    width: 100%;
    height: 68px;
    margin-top: 13px;
    font-weight: 700;
}

.section-4 .swiper-slide .title>span {
    font-size: 23px;
}

.section-4 .swiper-slide .content {
    width: 100%;
    height: 90px;
    margin-top: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-4 .swiper-slide .content>span {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 17px;
    line-height: 30px;

}

.section-4 {
    position: relative;
}

.section-4 .swiper-container .swiper-button-prev {
    position: absolute;
    left: 45%;
    width: 58px;
    height: 58px;
    border: .5px solid black;
    color: black;
    transform: translateY(450%);
}


.section-4 .swiper-container .swiper-button-next {
    position: absolute;
    right: 45%;
    border: 0.5px solid black;
    width: 58px;
    height: 58px;
    bottom: 0;
    color: black;
    transform: translateY(450%);
    transition: all .4s;
}

.section-4 .swiper-container .swiper-button-next:hover, .section-4 .swiper-container .swiper-button-prev:hover {
    transform: translateY(445%);
}

.section-4 .swiper-button-next::after, .section-4 .swiper-button-prev::after {
    font-size: 20px;
}

/*section-4 끝*/

/*section-5 시작*/
.section-5 {
    height: 670px;
    width:100%;
}

.section-5 .con {
    height: 100%;
    width: 1280px;
    padding: 50px 0px 0px 0px;
}

.section-5 .top .title {
    margin-top: -14px;
    margin-bottom: 10px;
}

.section-5 .title span:last-of-type {
    font-size: 17px;
    color: #515151;
    margin-left: 27px;
}


.section-5 .content-btn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.section-5 .content-btn .more-btn {
    align-items: center;
    cursor: pointer;
}

.section-5 .content-btn .more-btn span:first-of-type {
    white-space: nowrap;
    margin-right: 12.5px;
    color: #FF8100;
}

.section-5 .content-btn {
    z-index: 999;
    
}

.section-5 .content-btn .list-btn span {
    font-size: 19px;
    height: 38px;
    margin-right: 42px;
    transition: all .4s;
}

.section-5 .content-btn .list-btn span:hover {
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    font-size: 21px;
}


.section-5 .content-btn .list-btn span:nth-of-type(2) {
    color: #008FE2;

}

.section-5 .content-btn .list-btn span:nth-of-type(3) {
    color: #F96D8C;

}

.section-5 .content-btn .list-btn span:nth-of-type(4) {
    color: #FFBE00;

}

.section-5 .content-btn .list-btn span:nth-of-type(5) {
    color: #00B474;

}

.section-5 .content-btn .list-btn span:nth-of-type(6) {
    color: #AFAA91;

}

.section-5 .content-btn .list-btn span:nth-of-type(7) {
    color: #62CBD7;

}


.section-5 .swiper-container {
    width: 100%;
    height: 330px;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5 .swiper-slide {
    height: 314px;
}

.section-5 .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5 .swiper-slide:hover {
    cursor: pointer;
}

.section-5 .swiper-slide img {
    width: 197px;
    height: 197px;
}

.section-5 .swiper-slide .txt-box>div {
    text-align: center;
}

.section-5 .swiper-slide .txt-box>div:first-of-type {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700;
}

.section-5 .swiper-slide .txt-box>div:nth-of-type(2) {
    color: #FFBE00;
    font-size: 15px;
}

.section-5 .swiper-slide .txt-box>div:nth-of-type(3) {
    color: #505050;
    font-size: 15px;
}
.section-5 .swiper-slide .box-1:last-of-type {
    margin-right: 0px;
}

.section-5 .swiper-slide .txt-box div:first-of-type {
    margin-bottom: 6px;
}

.section-5 .swiper-slide .txt-box div:last-of-type {
    margin-top: 15px;
}



.section-5 {
    position: relative;
}

.section-5 .swiper-button-next {
    position: absolute;
    border: 0.5px solid black;
    width: 58px;
    height: 58px;
    color: black;
    outline: none;
    left: 90%;
    top: 60%;
    transition: all .4s;
}

.section-5 .swiper-button-next:hover {
    transform: translateY(-5px);
}

.section-5 .swiper-button-next::after {
    font-size: 20px;
}

.section-5 .back {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: -2;
}

.section-5 .bar {
    position: absolute;
    width:100%;
    height: 98px;
    background-color: white;
    top:120px;
    z-index: -1;
} 

/*section-5 끝*/


/*section-6 시작*/
.section-6 {
    height: 771px;
    width:100%;
}

.section-6 .con {
    width: 1280px;
}

.section-6 .top .more-btn {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.section-6 .top .more-btn::after,
.section-6 .top .more-btn::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section-6 .top .more-btn::before {
    transform: rotate(-90deg);
    left: 25%;
}


.section-6 .swiper-container {
    width: 100%;
    height: 657px;
    margin-top: 47px;
}

.section-6 .swiper-slide>.txt-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-6 .swiper-slide>.txt-box>.title {
    font-size: 45px;
    color: white;
    text-align: center;
}

.section-6 .swiper-slide>.txt-box>.content {
    font-size: 20px;
    position: relative;
    color: white;
    margin-top: 40px;
    text-align: center;
}

.section-6 .swiper-slide>.txt-box>.content::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 190%;
}

.section-6 .swiper-slide>.txt-box>.more-view {
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin-top: 100px;
}

.section-6 .swiper-slide>.txt-box>.more-view:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.section-6 .swiper-slide>.txt-box .title {
    font-weight: 700;
}

.section-6 .swiper-slide>.txt-box .content {
    font-weight: 300;
}

.section-6 .swiper-container {
    position: relative;
    width:100%;
}

.section-6 .swiper-container .swiper-pagination {
    position: absolute;
    left: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.section-6 .swiper-container .swiper-pagination-bullet {
    border-radius: 0;
    width: 290px;
    height: 48px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    transition: all .4s;
}

.section-6 .swiper-container .swiper-pagination-bullet-active {
    background-color: white;
    width: 320px;
    height: 53px;
    color: black;
    font-size: 18px;
}

/*section-6 끝*/

/*section-7 시작*/
.section-7 {
    height: 800px;
    background-color: #FBFBFB;
    width:100%;
}

.section-7 .con {
    width: 1280px;
}

.section-7 .top {
    padding-top: 116px;
}

.section-7 .list {
    margin-top: 68px;
}

.section-7 .list span {
    width: 91px;
    height: 38px;
    padding: 5px 28px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    color: white;
    transition: all .4s;
}

.section-7 .list span:first-of-type {
    background-color: #008FE2;
}

.section-7 .list span:nth-of-type(2) {
    background-color: #F96D8C;
}

.section-7 .list span:nth-of-type(3) {
    background-color: #FFBE00;
}

.section-7 .list span:nth-of-type(4) {
    background-color: #00B474;
}

.section-7 .list span:nth-of-type(5) {
    background-color: #AFAA91;
}

.section-7 .list span:nth-of-type(6) {
    background-color: #62CBD7;
}

.section-7 .list span:first-of-type {
    color: #008FE2;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}


.section-7 .list span:nth-of-type(2):hover {
    color: #F96D8C;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}

.section-7 .list span:nth-of-type(3):hover {
    color: #FFBE00;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}

.section-7 .list span:nth-of-type(4):hover {
    color: #00B474;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}

.section-7 .list span:nth-of-type(5):hover {
    color: #AFAA91;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}

.section-7 .list span:nth-of-type(6):hover {
    color: #62CBD7;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    transform: translateY(-5px);
}


.section-7 .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: 200px;
    margin-top: 84px;
    padding: 25px;
}

.section-7 .swiper-slide {
    display: flex;

    height: 296px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .2);
    border-radius: 50px;
}

.section-7 .swiper-slide .title-box {
    font-weight: 700;
    font-size: 17px;
    margin-top: 27px;
}

.section-7 .swiper-slide .prin {
    text-align: center;
}

.section-7 .swiper-slide .prin span:first-of-type {
    font-size: 14px;
    color: #7E7E7E;
    display: block;
    margin-top: 31px;
    margin-bottom: 18px;
}

.section-7 .swiper-slide .prin span:last-of-type {
    font-size: 15px;
    padding: 5px 14px;
    background-color: #ff8100;
    color: white;
    border-radius: 50px;
}

.section-7 .swiper-slide .prin span:last-of-type:hover {
    cursor: pointer;
    background-color: white;
    color: #ff8100;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .2);
}

.section-7 .swiper-container {
    position: relative;
}

.section-7 .swiper-container .swiper-button-next {
    position: absolute;
    left: 73.5%;
    color: black;
    width: 58px;
    height: 58px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .2);
}

.section-7 .swiper-container .swiper-button-next::after {
    font-size: 18px;
}

/*section-7 끝*/

/*section-8 시작*/
.section-8 {
    height: 413px;
    background-color: #3492C2;
    width:100%;
}

.section-8 .con {
    width: 1280px;
}

.section-8 .top {
    padding-top: 81px;
}

.section-8 .top .tilte span {
    color: white;
}

.section-8 .title span:last-of-type {
    margin-left: 27px;
}

.section-8 .top .more-btn {
    width: 58px;
    height: 58px;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
}

.section-8 .top .more-btn::after,
.section-8 .top .more-btn::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section-8 .top .more-btn::before {
    transform: rotate(-90deg);
    left: 25%;
}

.section-8 .keyword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    height: 100px;
}

.section-8 .keyword span {
    font-size: 17px;
    padding: 9px 19px;
    background-color: white;
    border-radius: 50px;
    margin: 0 10px
}

.section-8 .keyword span:hover {
    background-color: #66CC00;
    color: white;
    cursor: pointer;
}

/*section-8 끝*/

/*section-9 시작*/

.section-9 {
    height: 977px;
    min-width:100%;
    margin-top: 80px;
    background-size: cover;
    background-position: center;
}

.section-9 .con {
    width: 700px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-9 .title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -40px;
}

.section-9 .title span {
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.section-9 .value-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}

.section-9 .value-c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.section-9 .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
}

.section-9 .circle span {
    font-weight: 700;
    font-size: 20px;
}

.section-9 .value-c-1>span:last-of-type {
    margin-left: 45px;
    white-space: nowrap;
    color: white;
    font-weight: 300;
}

/*section-9 끝*/

/*section-10 시작*/

.section-10 {
    margin-top: 960px;
    height: 196px;
    width:100%;
}
.section-10 .con {
    height: 100%;
    width:1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-10 img {
    width:42px;
    height: 42px;
}
/*section-10 끝*/

/*section-11 시작*/
.section-11 {
    height: 778px;
    width:100%;
    display: flex;

}
.section-11 img {
    width:100%;
}
/*
.section-11 .box-1, .section-11 .box-2 {
    height: 778px;
    width:960px;
}

.section-11 .box-2-1 {
    height: 389px;
}

.section-11 .box-1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.section-11 .box-1 > span:first-of-type {
    position: absolute;
    width:641px;
    height: 317px;
    background-color: rgba(0, 0, 0, .6);
}

.section-11 .txt-content {
    position: absolute;
    text-align: right;
}

.section-11 .txt-content div {
    color:white;
}

.section-11 .txt-content div:first-of-type {
    font-weight: 700;
    font-size: 30px;
}

.section-11 .txt-content div:nth-of-type(2), .section-11 .txt-content div:nth-of-type(3) {
    font-size: 18px;
}

.section-11 .txt-content div:nth-of-type(3) {
    border:1px solid white;
    width:30px;
}

*/
/*section-11 끝*/

/*section-12 시작*/

.section-12 {
    height: 154px;
    margin-top: -40px;
}
.section-12 .con {
    width:1280px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-12 .con span {
    font-size: 18px;
}
/*section-12 끝*/

/*section-13 시작*/

.section-13 {
    height: 168px;
}
.section-13 .con {
    width:1280px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section-13 끝*/


/*section-14 시작*/

.section-14 {
    height: 600px;
    margin-top:97px;
    width:100%;
}

.section-14 .con {
    height: 100%;
    width: 1280px;
}

.top {
    justify-content: space-between;
    align-items: center;
}

.top .title {
    align-items: center;
}

.top .title>img {
    width: 41.92px;
    height: 41.52px;
}

.top .title>span:first-of-type {
    font-size: 30px;
    font-weight: 700;
    margin-left: 27.1px;
}


.section-14 .title span:last-of-type {
    font-size: 17px;
    color: #515151;
    margin-left: 27px;
}

.section-14 .cam-box-1 {
    width:180px;
    height: 324px;
    position: relative;

}

.section-14 .cam-box-1 img {
    position: absolute;
    top:0;
    left: 0;
}
.section-14 .cam-box-1 > span:first-of-type {
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    height: 107px;
    background-color: rgba(255, 255, 255, .9);
    transition: all .4s;
}

.section-14 .cam-box-1 .txt-box {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.section-14 .cam-box-1:hover {
    cursor: pointer;
}

.section-14 .cam-box-1 .txt-box span:first-of-type {
    font-weight: 700;
    font-size: 21px;
    transition: all .4s;
}


.section-14 .cam-box-1:first-of-type .txt-box span:first-of-type {
    color:#008FE2;
}

.section-14 .cam-box-1:nth-of-type(2) .txt-box span:first-of-type {
    color:#F96D8C;
}

.section-14 .cam-box-1:nth-of-type(3) .txt-box span:first-of-type {
    color:#FFBE00;
}
.section-14 .cam-box-1:nth-of-type(4) .txt-box span:first-of-type {
    color:#66CC00;
}
.section-14 .cam-box-1:nth-of-type(5) .txt-box span:first-of-type {
    color:#AFAA91;
}
.section-14 .cam-box-1:last-of-type .txt-box span:first-of-type {
    color:#62CBD7;
}


.section-14 .cam-box-1 .txt-box span:last-of-type {
    color:#787878;
    font-size: 17px;
}

.section-14 .cam-box-1:hover > span:first-of-type {
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
}

.section-14 .cam-box-1:hover .txt-box span:first-of-type, .section-14 .cam-box-1:hover .txt-box span:last-of-type {
    color:white;
}


.section-14 .cmap-box {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/*section-14 끝*/

:root {
    --site-width:1280px;

  }
  
  .con-min-width {
    min-width:var(--site-width);
  }
  
  .con {
    width:var(--site-width);
  }

  body .width-100p {
      width:100%;
  }