.gnb__menu-bar li:nth-of-type(2) a {
    font-weight: 700;
}
.gnb__menu[data-sel-index="1"]>.mouse {
    left: calc(3% + 30px * 3);
    opacity: 1;

}

.mouse {
    left: calc(3% + 30px * 3);
    opacity: 1;
}

.book-top-search {
    height: 80px;
    padding-top: 20px;
}

.m_search_menu {
    margin-left: -30px;
}

/*top-search*/

.book-top-search {
    align-items: center;
    justify-content: flex-start;
}

.book-top_left {
    align-items: center;
}

.book-top_right {
    align-items: center;
}


.book-top-search {
    position: relative;
}

.book-pg-dotted {
    position: absolute;
    bottom: 0;
    left: 0;
}

.book-top-search > a {
    margin-right: 20px;
    font-size: 19px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 30px;
}
.book-top-search > a:hover {
    background-color: #d2e7e3;
    border:1px solid #d2e7e3;
}
.book-top-search > a:nth-of-type(1)  {
    background-color: #d2e7e3;
    border:1px solid #d2e7e3;
}

.book-list {
    margin-top: 30px;
}
svg {
    stroke:#d2e7e3;
    fill:#d2e7e3;
    
    height: 28.5px;
}

.info-1:nth-of-type(2) {
    margin-top: 40px;
}

.info-1 div {
    margin-left: 20px;
    font-weight: 500;
    
}

.info-1 div a {
    text-decoration: underline;
    font-weight: 900;
}
#youtube {
    margin-top: 40px;
}
/*side bar*/
.bookpg-main {
    overflow: hidden;
}

.bookpg-main .con {
    position: relative;
    height: 100vh;
}

.dotted {
    position: absolute;
    left: -2%;
    top:0%;
    width:1px;
    height: 3700px;
}
.book-side-menu {
    position: absolute;
    left: -17%;
    top:8%; 
    text-align: right;
}

.book-side-menu ul {
    position: fixed;
}

.book-side-menu ul li a {
    display: block;
    margin: 20px 0;
    font-weight: 500;
    font-size: 14px;
}

.book-side-menu ul li:nth-of-type(1) a {
    text-decoration: underline;
    font-weight: 700;
}

.book-side-menu ul li:hover a {
    text-decoration: underline;
}