.gnb__menu-bar li:nth-of-type(1) a {
    font-weight: 700;
}

.gnb__menu[data-sel-index="0"]>.mouse {
    left: calc(3%);
    opacity: 1;

}

.mouse {
    left: calc(3%);
    opacity: 1;
}


.book-top-search {
    height: 80px;
    padding-top: 20px;
}

.m_search_menu {
    margin-left: -30px;
}

/*top-search*/

.book-top-search {
    align-items: center;
    justify-content: space-between;
}

.book-top_left {
    align-items: center;
}

.book-top_right {
    align-items: center;
}

.book-pg-view {
    width:79px;
    margin-right: 10px;
    cursor: pointer;
}

.book-top_left span {
    margin-left: 20px;
    font-size: 13px;
}

.book-top_right select {
    margin-left: 10px;
}

.book-top-search .download {
    border:1px solid #D2E7E3;
    padding: 5px 15px;
    border-radius: 50px;
}

.book-top-search .download:hover {
    background-color: #D2E7E3;
}

.book-top-search {
    position: relative;
}

.book-pg-dotted {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*book-list*/
.book-list {
    margin-top: 30px;
}
.book-list__box {
    justify-content: space-between;
}


.book-list__box_cont {
    width:238px;
    border:1px solid #E7E7E7;
}

.book-list__box_cont__book-img {
    width:238px;
    display: flex;
    align-items: center;
}
.book-list__box_cont__book-img img {
    width:100%;
    cursor: pointer;
}
.book-list__box_cont__book-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
}
.book-list__box_cont__book-info {
    border-top:1px solid #E7E7E7;
    padding: 10px;

}
.book-list__box_cont__book-info a:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

.book-list__box_cont__book-info a:not(:nth-child(1)) {
    margin-bottom: 5px;
    font-size: 14px;
    color:#454545;
}

.book-list__box_cont__book-keep {
    justify-content: flex-end;
}

.book-list__box_cont__book-keep svg {
    stroke:#d2e7e3;
    fill:white;
    height: 28.5px;
}

.book-list__box_cont__book-keep svg:hover {
    stroke:#d2e7e3;
    fill:#d2e7e3;
}
.book-list__box_cont__book-keep svg:hover {
    cursor: pointer;
}


.book-list__box_cont__book-date {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.book-list__box_cont__book-date span {
    font-size: 12px;
    color:#6D6D6D;
}

.book-list__box:not(:nth-of-type(1)) {
    margin-top: 40px;
}


.pages-btn {
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.pages-btn img {
    cursor: pointer;
}

/*side bar*/

.bookpg-main .con {
    position: relative;
}

.dotted {
    position: absolute;
    left: -2%;
    top:0%;
    width:1px;
    height: 3700px;
}
.book-side-menu {
    position: absolute;
    left: -11.5%;
    top:2.2%; 
    text-align: right;
}

.book-side-menu ul {
    position: fixed;
}

.book-side-menu ul li a {
    display: block;
    margin: 20px 0;
    font-weight: 500;
    
    font-size: 14px;
}

.book-side-menu ul li:nth-of-type(1) a {
    text-decoration: underline;
    font-weight: 700;
}

.book-side-menu ul li:hover a {
    text-decoration: underline;
}