/*폰트 설정*/
html {
    font-family: 'S-CoreDream-3Light';
    overflow-x: hidden;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 끝 */

/* 노말라이즈 시작 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
}

.con-min-width {
    width: 1320px;
}

.bb {
    border: 1px solid blue;
}

.br {
    border: 1px solid red;
}

.bo {
    border: 1px solid orange;
}

.flex {
    display: flex;
}

/*top-bar*/
.top-bar {
    height: 90px;
    justify-content: space-between;
    align-items: center;

}

.top-bar a {
    font-size: 14px;
    transition: .4s;

}

.top-bar a:hover {
    text-decoration: underline;
}

.tob-bar__left>a:first-child {
    margin-right: 40px;
}

.tob-bar__right>a:nth-child(3),
.tob-bar__right>a:nth-child(2) {
    margin-left: 40px;
}

.tob-bar__right>a:nth-child(3) {
    color: #537F19;
}




/*gnb*/

.gnb {
    height: 60px;
    justify-content: space-between;
    align-items: center;
}


/*검색창*/

form {
    display: flex;
    align-items: center;
}

select {
    height: 20px;
    padding-right: 6px;
}

select {
    height: 20px;
    padding-right: 6px;
}

.top_search_m {
    width: 90px;
    height: 26px;
    font-size: 15px;
}

input,
select,
button,
textarea {
    font-family: 'NanumGothic', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}



select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.m_search_menu {
    position: relative;
    text-align: right;
    width: 120px;
    float: left;
    padding: 0px 4px 0px 0px;
}

form ul {
    list-style-type: disc;
}

.m_search_box {
    position: absolute;
    top: 31px;
    right: 184px;
    height: 26px;
    text-align: center;
}

#header-search_02 {
    width: 200px;
}

/*menu-bar*/

.gnb__menu-bar_nav>ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.gnb__menu-bar>li {
    display: flex;
    align-items: center;
    position: relative;
}

/*
.gnb__menu-bar_nav > ul > li:hover > ul {
    display: block;
}
*/

.gnb__menu-bar>li>a {
    font-size: 17px;
    display: block;
    margin-right: 20px;
    padding: 20px 0;
}

.gnb__menu-bar_nav>ul ul a {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    ;
    border: 1px solid red;
}

.gnb__menu-bar li>.font-size_16:hover {
    color: #FBC2A4;
}

.gnb__menu-bar li>a {
    transition: all .4s;
    white-space: nowrap;
}


.gnb__menu-bar>li>a.margin-left_40 {
    margin-right: 40px;
}

.gnb__menu-bar .font-size_16 {
    font-size: 15px;
    color: #373938;
}


.gnb__menu {
    position: relative;
    height: 100%;
}


/*gnb mouse circle*/
.mouse {
    width: 6px;
    height: 6px;
    background-color: #FBC2A4;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    transition: left .4s;
    opacity: 0;
}

.gnb__menu[data-sel-index="0"]>.mouse {
    left: calc(3%);
    opacity: 1;

}

.gnb__menu[data-sel-index="1"]>.mouse {
    left: calc(3% + 30px * 3);
    opacity: 1;
}

.gnb__menu[data-sel-index="2"]>.mouse {
    left: calc(4% + 30px * 6);
    opacity: 1;
}

.gnb__menu[data-sel-index="3"]>.mouse {
    left: calc(5% + 30px * 9);
    opacity: 1;
}


/*메인 시작*/
.main {
    height: 676px;
    position: relative;
}

.underline {
    width: 100vw;
    position: absolute;
    top: 0;
    animation: 3s linear underline;
}

@keyframes underline {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.scroll {
    position: absolute;
    top:95%;
    left: 50%;
    transform: translateX(-50%);
    width:18px;
    
}


.scroll-line {
    position: absolute;
    top:92%;
    left: 50%;
    transform: translateX(-50%);
    width:.5px;
    height: 13px;
    background-color: black;
    animation: 1.4s infinite ease-out arrowAnimation;
    z-index: 999;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        
        transform: translateY(10px);
        opacity: 0;
    }
}


.main_visual {
    height: 100%;
}

.main_visual>div {
    width: 33.33333%;
}

.main_visual__main .img-box {
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
}

.main_visual__main img {
    width: 100%;
    transition: all .4s;
}


.main_visual__main .img-box:hover img:first-of-type {
    transform: scale(1.1);
}


.main_visual__main .main_txt {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.main_visual__main .img-box:hover .main_txt {
    opacity: 1;
}


/*금주의 그림책*/

.week {
    width:100%;
    height: 900px;
    margin-top: 120px;
    position: relative;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
}


.deco {
    position: absolute;
}

.deco_1 {
    width:80px;
    top:20%;
    right:10%;
}
.deco_2 {
    width:70px;
    top:20%;
    left:8%;
}
.deco_3 {
    width:180px;
    top:75%;
    right:13%;
    
}

.deco_4 {
    width:210px;
    top:65%;
    left:-5%;
    z-index: -1;
}

.deco_5 {
    width:250px;
    top:0%;
    left:10%;
    z-index: -1;
}
.deco_6 {
    width:400px;
    bottom:12%;
    right:-2%;
    z-index: -1;
}

.week__main-bord {
    background-color: white;
    z-index: ;
    height: 650px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.025);
}


/*금주의 타이틀*/
.week__title {
    display: flex;
    font-family: 'S-CoreDream-4Regular';
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 35px;
    margin-bottom: 40px;
}

/*금주의 버튼*/

.main-bord_btn {
    width:100%;
    height: 68px;
    justify-content: flex-end;
    cursor: pointer;
}

.week .main-bord_btn .btn {
    width:83px;
    margin-left: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week .main-bord_btn .btn:last-of-type {
    margin-right: 20px;
}

.week .main-bord_btn .btn > * {
    position: absolute;
}
.week .main-bord_btn .btn > span {
    margin-bottom: 10px;
    font-size: 20px;
}

.week .main-bord_btn .btn:hover > span {
    font-family: 'S-CoreDream-4Regular';
}

/*금주의 그림책 컨텐츠*/
.main-bord_contents {
    margin-top: 50px;
    height: 440px;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-bord_contents__book {
    width:330px;
    margin-right: 110px;
}

.main-bord_contents__contents {
    width:660px;
}

.main-bord_contents-2, .main-bord_contents-3 {
    opacity: 0;
}


.main-bord_contents__book {
    position: relative;
}

.main-bord_contents__book > * {
    position: absolute;
    width:290px;
    height: 377.725px;
}

.main-bord_contents__book > .color_square {
    top:0;
    left: 0;
}
.main-bord_contents__book > .book_square {
    bottom:0;
    right: 0;
}