/*메인 시작*/
.main-1 {
    width: 100%;
    height: 676px;
}

.main {

    width: 100%;
    height: 676px;
    position: relative;
}

.underline {
    width: 100vw;
    position: absolute;
    top: 0;
    animation: 3s linear underline;
}

.main_visual {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main_visual__main .img-box {
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
}

.main_visual__main img {
    width: 100%;
    transition: all .4s;
}


.main_visual__main .img-box:hover img:first-of-type {
    transform: scale(1.1);
}


.main_visual__main .main_txt {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.main_visual__main .img-box:hover .main_txt {
    opacity: 1;
}


.main-2 {
    width: 100vw;
    height: 100%;
}

/*라이브러리*/

.book-section {
    margin-top: 120px;
}

.title-btn {
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.title>span {
    font-size: 25px;
    font-family: 'S-CoreDream-5Medium';
    position: relative;
}

.title>span::after {
    position: absolute;
    content: "";
    width: 120%;
    left: -10%;
    bottom: -5%;
    height: 27px;
    z-index: -1;
    background-color: #FAF194;
}

.book__btn>* {
    width: 105px;
    height: 40px;
    border: 1px solid #505050;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.book__btn>*:hover {
    border: 1px solid #FAF194;
    background-color: #FAF194;
}

.book__btn>*>span {
    font-size: 18px;
}

/*금주의 그림책 시작*/


.week-book__contents {
    position: relative;
    width: 1320px;
    height: 670px;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    display: flex;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    background:  red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 410px;
}

.element.style {
    width: 315px;
    height: 410px;
}

.swiper .swiper-wrapper div.swiper-slide-active {
    width:1050px;
    height: 410px;
}
.slide-txt-box {
    display:none;
}
div.swiper-slide-active .slide-txt-box {
    display: flex;
}
.swiper-slide{
    background-color: #fff;
    width: 315px;
    height: 410px;
    @media screen and (min-width: 315px){
        width: 315px;
        height: 410px;
    }
    
    &-active{
        background-color: #fff;
        @media screen and (min-width: 1050px){
            width: 1050px;
            height: 410px;
        }
        
    }
}

.week-book__contents .swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    position: absolute;
    top: 92%;
}

.slide-img-box {
    width:315px;
    height: 410px;
}
.slide-img-box > img {
    width:315px;
}
.slide-txt-box {
    width:520px;
    height: 410px;
    margin-left: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slide-txt-box-first {
    text-align: left;
    font-size: 19px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.slide-txt-box-title {
    font-size: 24px;
    font-family: 'S-CoreDream-4Regular';
}

.slide-txt-box-title > div {
    width:50px;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}

.slide-txt-box-per .slide-txt-box-pub {
    color:#525252;
}

.slide-txt-box-per {
    margin-top: 37px;
}

.slide-txt-box-pub {
    margin-top: 17px;
}


.slide-txt-box-per > span {
    margin-right: 30px;
}

.slide-txt-box-pub > span {
    margin-right: 30px;
}

/*slide-button*/ 


.swiper-button-next, .swiper-button-prev {
    border:1px solid red;
}