/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

body {
    height: 100%;
}
#event-section {
    width:1920px;
    position: relative;
    height: 5000px;
    overflow: hidden;
    margin:0 auto;
}

#event-section img {
    position: absolute;
}

#event-section .back {
    width:1920px;
    top:0;
    left: 0;
}

#event-section .back2 {
    width:1920px;
    top:0;
    left: 0;
    animation:ani 1.7s infinite alternate; 
}

#event-section .back3 {
    height: 3400px;
    bottom:0%;
    left: 0;
    animation:ani 1.7s infinite alternate; 
}
    
@keyframes ani{
0%{opacity: .1;}
100%{opacity: 1;}
} 

#event-section .tree {
    width:1920px;
    top:0%;
    left: 0;
}


#event-section .house {
    width:1920px;
    top:2.6%;
    left: 0;
}

#event-section .backback {
    height: 5000px;
    bottom:0%;
    left: 0;
}

#event-section .moon {
    width:1300px;
    top:3%;
    left: 50%;
    transform: translateX(-50%);
}
#event-section .pumkin {
    width:1920px;
    top:14.5%;
    left: 0%;
}

#event-section .owl {
    right: 14%;
    width:66px;
    top:16%;
    animation:eyes .7s infinite alternate; 
}
    
@keyframes eyes {
0%{opacity: 0;}
100%{opacity: 1;}
} 


#event-section .sulbing {
    width:163px;
    top:2.5%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .aboutmint {
    width:400px;
    top:8%;
    left: 50%;
    transform: translateX(-50%);
}
#event-section .title {
    width:810px;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
    animation:left .1s infinite; 
}
    
@keyframes left {
from {left: 50.1%;}
to {left: 50%;}
} 



#event-section .bat1 {
    width:230px;
    top:12%;
    left: 15.5%;
}

#event-section .bat2 {
    width:130px;
    top:17%;
    right: 28%;
    transform: rotateY(-180deg);
}


#event-section .bat3 {
    width:100px;
    top:15.5%;
    right: 26%;
    transform: rotateY(-180deg);
}


#event-section .ghost1 {
    width:60px;
    top:16%;
    left: 31%;
    transform: rotate(5deg);
    animation:ghost 1s infinite alternate; 
}
    
@keyframes ghost {
    0%{top: 15.5%;}
    100%{top: 16%;}
} 
#event-section .ghost2 {
    width:100px;
    top:5%;
    right: 31%;
    transform: rotate(-5deg);
    transform: rotateY(-180deg);
    animation:ghost2 1s infinite alternate; 
}
    
@keyframes ghost2 {
0%{top: 5%;}
100%{top: 4.5%;}
} 
#event-section .halloween {
    width:300px;
    top:33%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .trickormint {
    width:810px;
    top:35%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .text {
    width:560px;
    top:38.5%;
    left: 50%;
    transform: translateX(-50%);
}


#event-section .bord {
    width:1600px;
    height: 3200px;
    top:34%;
    left: 50%;
    transform: translateX(-50%);
}


#event-section .event {
    width:490px;
    top:40.5%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .web {
    width:240px;
    top:43%;
    right: 12%;
}

#event-section .spider {
    width:63px;
    top:43.5%;
    left: 38.5%;
}

#event-section .eventtxt {
    top:46%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .step {
    width:1120px;
    top:50%;
    left: 46%;
    transform: translateX(-50%);
}

#event-section .step1 {
    top:60.5%;
    left: 25.5%;
    width:221.7197px;
}
#event-section .step2 {
    top:60.5%;
    left: 50%;
    transform: translateX(-50%);
    width:204.9233px;
}
#event-section .step3 {
    top:60.5%;
    right: 25.5%;
    width:218.584px;
}
#event-section .tag {
    top:63%;
    left: 50%;
    transform: translateX(-50%);
    width:1090px;
}

#event-section .date1 {
    top:65.5%;
    left: 50%;
    transform: translateX(-50%);
    width:624px;
}

#event-section .gift {
    top:70%;
    left: 50%;
    transform: translateX(-50%);
    width:336.0233px;
}


#event-section .bat4 {
    width:110px;
    top:71%;
    right: 39%;
}


#event-section .bat5 {
    width:90px;
    top:70%;
    right: 39%;
}
#event-section .gifttxt {
    width:444.7275px;
    top:73.5%;
    left: 50%;
    transform: translateX(-50%);
}

#event-section .win1 {
    width:320px;
    top:76%;
    left: 22%;
    
}

#event-section .win2 {
    width:320px;
    top:76%;
    left: 50%;
    transform: translateX(-50%);
}
#event-section .win3 {
    width:320px;
    top:76%;
    right: 22%;
}

#event-section .win {
    width:442.5696px;
    top:84%;
    left: 50%;
    transform: translateX(-50%);
}


#event-section .waring {
    width:1116px;
    top:92%;
    left: 40%;
    transform: translateX(-50%);
}

#event-section .bottomhouse {
    width:1720px;
    bottom:-3%;
    left: 50%;
    transform: translateX(-50%);
}
    
#event-section .ghost3 {
    width:90px;
    top:90%;
    right: 22%;
    transform: rotate(5deg);
    
    transform: rotateY(-180deg);
    animation:ghost3 1s infinite alternate; 
}
    
@keyframes ghost3 {
0%{top: 90%;}
100%{top: 90.5%;}
} 