/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

/* 노말라이즈 끝 */

:root {
  --site-width: 1440px;
}

.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.bb {
  border: 1px solid red;
}

.flex {
  display: flex;
}



/*gnb*/

#gnb {
    position: fixed;
    top:0;
    width:100%;
    height: 130px;
    z-index: 99;
}

#gnb .con {
    width:1440px;
    height: 100%;
}

#gnb .menu-bar {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-bar__menu ul {
    display: none;
}
.menu-bar__sns ul > ul {
    display: none;
}

i {
  color:white;
  margin-left: 5px;
}
.menu-bar__menu > li > a {
    display: block;
    position: relative;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    color:white;
}
.menu-bar__menu > li > a
/*
.menu-bar__menu > li > a::after {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height: 2px;
    transition: all .4s;
    background-color: black;
}
.menu-bar__menu > li:hover > a::after {
    width:70%;
}
*/
.menu-bar__menu > li:hover > a {
    font-weight: 700;
}

.menu-bar__util-box {
    align-items: center;
}
.menu-bar__util-box > div {
    margin-left: 20px;
}

.menu-bar__util-box > div > * {
  color:white;
    font-size: 16px;
}

.menu-bar__donate {
    width:126px;
    height: 40px;
    background-color: #2093DD;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.menu-bar__donate > a {
    font-weight: 700;
    color:white;
}

.menu-bar__search-box {
  margin-right: 20px;
}