.sub-about-main-pg {
    width:100%;
    height: 100%;
}
.sub-about-main-pg img {
    width:100%;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
}


.menu-bar__menu > li:nth-of-type(3) > a {
    font-weight: 700;
}
.menu-bar__menu > li:nth-of-type(3) > a::after {
    width:70%;
    
}

.menu-bar__menu > li:nth-of-type(3) > ul > li:first-of-type a {
    color:#67CC00;
    font-weight: 700;
}