html {
    font-family: "Noto Sans KR", sans-serif;
    overflow-x: hidden;
  }
 
  body,
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .con {
      width:100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
  }
  img {
      width:100vw;
      position: absolute;
      top:50%;
      left: -5%;
      transform: translateY(-50%);
  }