
/*폰트 시작*/
html {
    font-family: "Noto Sans KR", sans-serif;
    overflow-x: hidden;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  
  .won {
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  /*폰트 끝*/
  
  
  
  /*노멀라이즈 시작*/
  
  body,
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  /*노멀라이즈 끝*/
  
  /*라이브러리 시작*/
  
  .flex {
    display: flex;
  }
  .flex-jc-s {
    justify-content: space-between;
  }
  
  /*라이브러리 끝*/
  
  /*커스텀 시작*/
  :root {
    --site-width: 1920px;
  }
  .con {
    width:1920px;
  }
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .opacity {
    opacity: 0;
  }
  
  /*탑바 시작*/
  .top-bar {
    background-color:#9FCEFF;
    height:315px;
    position:relative;
  }
  .top-bar__head {
    width:1536px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .top-bar__head span {
    font-size:20px;
    font-weight:100;
    margin-top:20px;
  }
  
  .top-bar__logo > img {
    width:201px;
    position:absolute;
    right:220px;
    top:210px;
  }
  
  .top-bar__txt > span {
    display:block;
  
  }
  .top-bar__txt > span:first-of-type > div  {
    font-weight:400;
  }
  
  .top-bar__txt {
    position:absolute;
    top:230px;
    right:450px;
  }
  .top-bar__txt > span:first-of-type {
    font-weight:100;
    font-size:40px;
    color:white;
  }
  .top-bar__txt > span:last-of-type {
    font-weight:700;
    font-size:50px;
    color:#9FCEFF;
    margin-top:42px;
  }
  
  /*탑바 끝*/
  
  /*bg 시작*/
  
  .back {
    display:flex;
    justify-content:center;
  }
  .back > img {
    width:1536px;
    height:58px;
    margin-top:200px;
    z-index:-999;
  }
  
  /*bg 끝*/
  
  /*paper 시작*/
  
  .paper {
    display:flex;
    justify-content:center;
    height:14000px;
  }
  
  .paper > img {
    width:1496px;
    margin-top:-50px;
    z-index:-998;
    margin-left:10px;
  }
  
  .paper {
    position:relative;
  }
  .paper > .title {
    position:absolute;
    top:70px;
  }
  .paper > .title > span:first-of-type {
    font-size:50px;
    font-weight:500;
    text-align:center;
    display:block;
  }
  .paper > .title > span > span {
    font-size:24px;
    font-weight:300;
  }
  
  .as {
    position:absolute;
  }
  
  .content {
    width:1320px;
    top:320px;
    font-size:25px;
    letter-spacing:10px;
  }
  .content > div {
    margin-top:15px;
  }
  .sale, .cashier{
    display:flex;
    justify-content:space-between;
  }
  
  .list {
    width:1350px;
    font-size:22px;
    letter-spacing:7px;
    top:600px;
  }
  .list > span {
    position:absolute;
  }
  
  .list > span:first-of-type {
    left:20px;
  }
  .list > span:nth-of-type(2) {
    left:400px;
  }
  .list > span:last-of-type {
    right:20px;
  }
  /*paper 끝*/
  /*section-1 시작*/
  .section {
    width:1300px;
    position:absolute;
  }
  .section-1 {
    top:5.9%;
    height:770px;
  }
  .section .section__prod-name {
    font-size:30px;
    font-weight:700;
    z-index:999;
  }
  .section .section__content {
    position:absolute;
    left:380px;
  }
  .section-1 .section-1__custom {
    position:relative;
  }
  
  .section-1 .section-1__custom > img:last-of-type {
    position:absolute;
    width:325px;
    top:-50px;
  }
  .section-1 .section-1__me > img:first-of-type {
    position:absolute;
    left:650px;
    top:300px;
  }
  .section-1 .section-1__me > img:last-of-type {
    position:absolute;
    width:411px;
    left:270px;
    top:200px;
  }
  .section-1 .section-1__txt {
    position:absolute;
    top:440px;
  }
  .section-1 .section-1__txt > div {
    font-size:18px;
    white-space:nowrap;
  }
  /*section-1 끝*/
  
  
  /*section-2 시작*/
  .section-2 {
    top:12.5%;
    height:480px;
  }
  
  article {
    display: none;
  }
   
  .typeing-txt ul {
     list-style:none;
  }
  .typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
  } 
  @keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
  }
  
  .top-bar {
    position:relative;
  }
  
  .section-2__title {
    font-size:24px;
    font-weight:700;
    position:absolute;
    top:-55px;
    white-space:nowrap;
  }
  
  .section-2__intro {
    position:absolute;
    white-space:nowrap;
    font-size:18px;
    margin-top:30px;
    line-height:35px;
  }
  
  .section-2__product {
    position:absolute;
    top:150px;
    left:-15px;
  }
  
  .section-2__product > img {
    width:793px;
  }
  /*section-2 끝*/
  
  /*section-3 시작*/
  .section-3 {
    top:17.3%;
    height:360px;
  }
  
  .section-3__title {
    font-size:24px;
    font-weight:300;
    margin-top:-30px;
  }
  
  .section-3__intro {
    font-size:18px;
    margin-top:30px;
    line-height:35px;
  }
  /*section-3 끝*/
  
  /*section-4 시작*/
  
  .section-4 {
    top:21.3%;
    height:430px;
  }
  
  .section-4__title {
    font-weight:700;
    font-size:24px;
    margin-top:-30px;
  }
  .section-4__intro {
    font-size:18px;
    margin-top:40px;
    line-height:35px;
  }
  /*section-4 끝*/
  
  /*section-5 시작*/
  .section-5 {
    top:25.8%;
    height:490px;
  }
  
  .section-5__title > img {
    width:400px;
    margin-top:-50px;
  }
  
  .section-5__intro {
    position:absolute;
    white-space:nowrap;
    left:450px;
    top:50px;
    font-size:18px;
    line-height:35px;
  }
  /*section-5 끝*/
  
  
  /*section-6 시작*/
  .section-6 {
    top:30.6%;
    height:780px;
  }
  .section-6__intro {
    font-size:25px;
    position:absolute;
    white-space:nowrap;
    top:500px;
    font-weight:700;
  }
  
  .section-6__intro > span:nth-of-type(2) {
    font-size:20px;
    font-weight:400;
    margin-left:40px;
  }
  .section-6__title > img {
    position:absolute;
    width:600px;
    top:-80px;
  }
  /*section-6 끝*/
  
  /*section-7 시작*/
  .section-7 {
    top:37.5%;
    height:780px;
  }
  .section-7__img {
    z-index:-999;
  }
  .section-7__img img {
    width:900px;
    position:absolute;
    top:0px;
    left:-435px;
  }
  .section__prod-name {
    z-index:999;
  }
  .section__title {
    position:absolute;
    white-space:nowrap;
    font-weight:700;
    font-size:30px;
  }
  
  .section-7 .section__title {
    position:absolute;
    left:500px;
    top:150px;
  }
  
  .section-7 .section__contents {
    position:absolute;
    left:500px;
    white-space:nowrap;
    font-size:20px;
    font-weight:300;
    top:270px;
  }
  
  /*section-7 끝*/
  
  /*section-8 시작*/
  .section-8 {
    top:44%;
    height:1080px;
  }
  .section-8__img > img {
    width:1200px;
    position:absolute;
    top:200px;
    left:-260px;
  }
  
  .section__titles {
    position:absolute;
    white-space:nowrap;
    font-weight:700;
    font-size:30px;
    width:1300px;
    left:-385px;
    display:flex;
    justify-content:center;
  }
  
  .section__introduce {
    width:1300px;
    left:-385px;
    position:absolute;
    top:80px;
    display:flex;
    align-items:center;
    flex-direction:column;
    white-space:nowrap;
    font-size:24px;
  }
  
  .section__introduce > div:first-of-type {
    font-size:24px;
  }
  
  .section__introduce > div:last-of-type {
    font-size:18px;
    font-weight:300;
    margin-top:20px;
  }
  
  video { 
    width:294px;
    position:absolute;
    left:365px;
    top:255px;
  }
  
  
  
  /*section-8 끝*/
  
  
  /*section-9 시작*/
  
  .section-9 {
    top:52.6%;
    height:1090px;
  }
  .section-9 .section-9__img > img  {
    width:1200px;
    position:absolute;
    left:-340px;
    top:100px;
  }
  
  .section-9 .section-9__plus > img:first-of-type {
    width:300px;
    position:absolute;
    left:219px;
    top:169px;
  }
  .section-9 .section-9__plus > img:last-of-type {
    width:411px;
    position:absolute;
    left:29px;
    top:444px;
  }
  .section-9 .section__introduce > div {
    margin-top:-20px;
    font-size:24px;
    font-weight:400;
  }
  /*section-9 끝*/
  
  /*section-10 시작*/
  .section-10 {
    top:61.3%;
    height:1400px;
  }
  
  .section-10 .section-10__img > img {
    width:1300px;
    position:absolute;
    left:-400px;
    top:290px;
  }
  
  
  .section-10 .section-10__img > img:nth-of-type(2) {
    left:-300px;
    top:220px;
  }
  
  .section-10 .section-10__img > img:nth-of-type(3) {
    left:-200px;
    top:150px;
  }
  
  .section-12 .section__introduce > div {
    font-size:24px;
    font-weight:400;
  }
  /*section-10 끝*/
  
  /*section-11 시작*/
  
  .section-11 {
    top:72%;
    height:1270px;
  }
  .section-11 .section-11__img > img {
    width:1400px;
    position:absolute;
    left:-435px;
  }
  /*section-11 끝*/
  
  /*section-12 시작*/
  
  .section-12 {
    top:82%;
    height:1370px;
  }
  
  .section-12 img {
    width:1500px;
    position:absolute;
    top:260px;
    left:-460px;
  }
  /*section-12 끝*/
  
  /*bottom-bar 시작*/
  .bottom-bar {
    top:92.4%;
    position:absolute;
    height:235px;
  }
  .contents {
    width:1320px;
    font-size:25px;
    letter-spacing:10px;
    display:flex;
    justify-content:space-between;
  }
  
  .bottom-bar > div:last-of-type {
    margin-top: 70px;
  }
  /*bottom-bar 끝*/
  
  /*last-bar 시작*/
  .last-bar {
    top:94.9%;
    position:absolute;
    height:140px;
  }
  
  .last-bar__content {
    width:1320px;
    font-size:25px;
    letter-spacing:10px;
    display:flex;
  }
  
  .last-bar img {
    margin-top:-70px;
  }
  /*last-bar 끝*/
  
  /*가격 시작*/
  
  .section__price {
    font-size:22px;
    letter-spacing:6px;
    position:absolute;
    left:800px;
    white-space:nowrap;
    opacity:0;
  }
  .section-1__price {
    top:540px;
  }
  
  .section-2__price {
    top:300px;
  }
  .section-3__price {
    top:160px;
  }
  .section-4__price {
    top:200px;
  }
  .section-5__price {
    top:270px;
  }
  .section-6__price {
    top:570px;
  }
  .section-12__price {
    top:1150px;
  }
  
  /*가격 끝*/
  
  footer {
    position:absolute;
    bottom:-1300px;
    display:flex;
    justify-content:center;
  }
  footer > img {
    width:100%;
  }
  
  /*커스텀 끝*/
  
  
  