/*section-2 메인 시작*/

.section-2 {
    width:1920px;
    height: 1080px;
    position: relative;
}

.section-2 > img {
    position: absolute;
    top:0;
    left: 0;
    z-index: -99;
}

.section-2 .con {
    width:1400px;
}

.section-2 .con img {
    position: absolute;
    top:32%;
}

.display {
    display: none;
}

/*section-2 메인 끝*/



/*section-3 New 시작*/
.section-3 {
    width:1920px;
    height: 867px;
    position: relative;
}

.section-3 .con {
    width:1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-3 .con img:first-of-type {
    margin-top: 96.7px;
}
.section-3 .con img:nth-of-type(2) {
    margin-top: 151.6px;
    position: absolute;
    top:17%;
    right:0;
    z-index: -99;
}

.section-3 .con img:nth-of-type(3) {
    width:540px;
    height: 682px;
    margin-right: -750px;
    margin-top: 69.6px;
}

.section-3 .con img:nth-of-type(4) {
    margin-left: -325px;
    margin-top:-200px;
}


/*section-3 New 끝*/


/*section-4 New top-dress 시작*/

.section-4 {
    width:1920px;
    height: 2781px;
}

.section-4 .con {
    width:1400px;
    height: 100%;
    border:1px solid red;
}
/*section-4 New top-dress 끝*/



/*section-3 New 시작*/

/*section-3 New 끝*/



/*section-3 New 시작*/

/*section-3 New 끝*/